html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-image: url(https://images.unsplash.com/photo-1502252430442-aac78f397426?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

html::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

.place {
    width: 300px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    position: relative;
    display: inline-block;
}

.submit {
    cursor: pointer;
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    padding: 9px;
    background-color: rgb(89, 89, 187);
    color: white;
}

.result {
    padding: 20px;
    width: 500px;
    /* margin: auto;    */
    margin: 10px auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
}

.content {
    flex-grow: 1;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.submit:hover {
    background-color: white;
    color: black;
}

img {
    width: 70px;
    height: 70px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.place:focus {
    outline: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #f1f1f1;
    text-align: center;
}

.footer-content {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 10px;
}

.footer-content small {
    margin-right: 10px;
}

.social-icons a {
    margin: 0 5px;
    text-decoration: none;
}

.social-icons i {
    font-size: 24px;
    color: black;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .result {
        margin: 50px auto;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .container {
        margin: 40px auto;
    }

    .place {
        max-width: 100%;
    }

    .submit {
        margin-left: 5px;
        padding: 8px 12px;
    }

    .result {
        margin: 50px auto;
        max-width: 90%;
    }

    img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .container {
        margin: 25px auto;
    }

    .submit {
        margin-left: 5px;
        padding: 8px 10px;
        font-size: 14px;
    }

    .place {
        max-width: 50%;
    }

    .inputs{
        display: flex;
        justify-content: center;
    }

    .result {
        margin: 50px auto;
        max-width: 70%;
    }

    img {
        width: 30px;
        height: 30px;
    }

    .content h1 {
        font-size: 18px;
    }

    .content p {
        font-size: 14px;
    }
}

@media (max-width: 390px) {
    .container {
        margin: 25px auto;
    }

    .submit {
        margin-left: 5px;
        padding: 8px 10px;
        font-size: 14px;
    }

    .place {
        max-width: 50%;
    }

    .inputs{
        display: flex;
        justify-content: center;
    }

    .result {
        margin: 25px auto;
        max-width: 70%;
    }

    img {
        width: 30px;
        height: 30px;
    }

    .content h1 {
        font-size: 18px;
    }

    .content p {
        font-size: 14px;
    }
}
